<?xml version="1.0" ?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5_robot">
    
    <xacro:arg name="prefix_a"    default=""/>
    <xacro:arg name="joint_limit_params_a" default=""/>
    <xacro:arg name="kinematics_params_a" default=""/>

    <xacro:arg name="prefix_b"    default=""/>
    <xacro:arg name="joint_limit_params_b" default=""/>
    <xacro:arg name="kinematics_params_b" default=""/>

    <!-- common parameters -->
    <xacro:arg name="ee_sensor" default="'stereo'"/>
    <xacro:arg name="sim" default="false"/>
 
    <xacro:arg name="physical_params" default=""/>
    <xacro:arg name="visual_params" default=""/>
    <!-- legal values:
         - hardware_interface/PositionJointInterface
         - hardware_interface/VelocityJointInterface
         - hardware_interface/EffortJointInterface
   -->
    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
    <xacro:arg name="safety_limits" default="false"/>
    <xacro:arg name="safety_pos_margin" default="0.15"/>
    <xacro:arg name="safety_k_position" default="20"/>

    <link name="world"/>

    <joint name="world_to_ground" type="fixed">
        <parent link="world" />
        <child link = "ground" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="ground">
        <visual>
            <geometry>
                <box size="2.0 2.0 .01"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 -.005"/>
        </visual>

        <collision>
            <geometry>
                <box size="2.0 2.0 .01"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 -.005"/>
        </collision>
    </link>

 <joint name="world_to_canopy" type="fixed">
        <parent link="world" />
        <child link = "canopy" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="canopy">
        <visual>
            <geometry>
                <box size=".45 2.0 1.6"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 .8"/>
        </visual>

        <collision>
          
             <geometry>
                <box size=".45 2.0 1.6"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 .8"/>
        </collision>
    </link>
    
    <joint name="world_to_wall1" type="fixed">
        <parent link="world" />
        <child link = "wall1" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="wall1">
        <visual>
            <geometry>
                <box size="2 .01 2"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 .63 1"/>
        </visual>

        <collision>
          
             <geometry>
                <box size="2 .01 2"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 .63 1"/>
        </collision>
    </link>
        <joint name="world_to_wall2" type="fixed">
        <parent link="world" />
        <child link = "wall2" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </joint>

    <link name="wall2">
        <visual>
            <geometry>
                <box size="2 .01 2"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 -.63 1"/>
        </visual>

        <collision>
          
             <geometry>
                <box size="2 .01 2"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 -.63 1"/>
        </collision>
    </link>
    <xacro:macro name="archie" params="
        prefix
        ee_sensor
        height_of_ur5_base:=0.585"
    >

        <joint name="${prefix}world_to_frame" type="fixed">
            <parent link="world" />
            <child link="${prefix}frame"/>
            <origin rpy="0 0 0" xyz="0 0.75 2.14925"/>
        </joint>

    <!-- archie frame-->      
    <link name="${prefix}frame">
   
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://archie_jnr_description/meshes/archie_jr_main.STL" />
      </geometry>
      <material name="">
        <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://archie_jnr_description/meshes/archie_jr_main.STL" />
      </geometry>
    </collision>
    </link>


 <joint name="${prefix}frame_to_ur5_mount_left" type="fixed">
    <origin xyz="0.820 -0.75 -1.3978" rpy="1.5708 0 0" />
    <parent link="${prefix}frame" />
    <child link="${prefix}ur5_mount_b/" />
  </joint>

<link name="${prefix}ur5_mount_b/">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://archie_jnr_description/meshes/ur5_mount_left.STL" />
      </geometry>
      <material name="">
        <color rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://archie_jnr_description/meshes/ur5_mount_left.STL" />
      </geometry>
    </collision>
</link>

<joint name="${prefix}frame_to_ur5_mount_right" type="fixed">
    <origin xyz="-0.820 -0.75 -1.3978" rpy="1.5708 0 3.1416" />
    <parent link="${prefix}frame" />
    <child link="${prefix}ur5_mount_a/" />
  </joint>

  <link name="${prefix}ur5_mount_a/">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://archie_jnr_description/meshes/ur5_mount_right.STL" />
      </geometry>
      <material name="">
        <color rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://archie_jnr_description/meshes/ur5_mount_right.STL" />
      </geometry>
    </collision>
  </link>

    
        <joint name="${prefix}mount_to_base" type="fixed">
            <parent link="${prefix}ur5_mount_${prefix}" />
            <child link="${prefix}base_link"/>
            <origin rpy="${-pi/2.0} ${3.0*pi/4.0} 0 " xyz="0.0 0 0"/>
        </joint>
    <joint name="${prefix}mount_to_planning_link" type="fixed">
            <parent link="${prefix}ur5_mount_${prefix}" />
            <child link="${prefix}planning_link"/>
            <origin rpy="${-pi/2.0} ${pi/2.0} 0 " xyz="0.0 0 0"/>
        </joint>
<link name="${prefix}planning_link"/>

        <!-- import main UR macro -->
    <xacro:if value="$(arg sim)">
        <xacro:include filename="$(find ur_gazebo)/urdf/ur_macro.xacro"/>
                    <xacro:ur_robot_gazebo
                prefix="${prefix}"
                joint_limits_parameters_file="$(arg joint_limit_params_a)"
                kinematics_parameters_file="$(arg kinematics_params_a)"
                physical_parameters_file="$(arg physical_params)"
                visual_parameters_file="$(arg visual_params)"
                transmission_hw_interface="$(arg transmission_hw_interface)"
                safety_limits="$(arg safety_limits)"
                safety_pos_margin="$(arg safety_pos_margin)"
                safety_k_position="$(arg safety_k_position)"
            />
        </xacro:if>
    <xacro:unless value="$(arg sim)"> 
        <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>
         <xacro:ur_robot prefix="${prefix}" joint_limits_parameters_file="$(arg joint_limit_params_a)" kinematics_parameters_file="$(arg kinematics_params_a)" physical_parameters_file="$(arg physical_params)" visual_parameters_file="$(arg visual_params)" transmission_hw_interface="$(arg transmission_hw_interface)" safety_limits="$(arg safety_limits)" safety_pos_margin="$(arg safety_pos_margin)" safety_k_position="$(arg safety_k_position)"/>

        </xacro:unless>

        <!-- things attached to robot arm-->
        <xacro:if value ="${ee_sensor=='stereo'}">
            <xacro:include filename="$(find archie_jnr_description)/urdf/ur5_stereo_mount.xacro" />
            <xacro:stereo_pair parent="${prefix}flange" name="stereo_pair" prefix="${prefix}">
                <origin xyz="0 0 0" rpy="0 0 0"/>
            </xacro:stereo_pair>

        </xacro:if>
        <xacro:if value ="${ee_sensor=='zivid'}">
            <xacro:include filename="$(find archie_jnr_description)/urdf/ur5_zivid_mount.xacro" />
            <xacro:zivid_mount parent="${prefix}flange" name="zivid_mount">
                <origin rpy="${5*pi/4.0} 0 0" xyz="0.0 0 0"/>
            </xacro:zivid_mount>

        </xacro:if>
    </xacro:macro>

    <xacro:archie prefix="$(arg prefix_a)" ee_sensor="$(arg ee_sensor)" />
    <!-- <xacro:archie prefix="$(arg prefix_b)" ee_sensor="$(arg ee_sensor)" /> -->
</robot>