<?xml version="1.0"?>
<robot name="stereo_pair" xmlns:xacro="http://wiki.ros.org/xacro">
    <!-- link list -->
  
  <xacro:macro name="stereo_pair" params="parent *origin prefix name:=stereo_pair">
    <xacro:property name="M_PI"     value="3.1415926535897931" />
      
    <!-- Base Link Setup -->
    <xacro:joint_xacro name="${prefix}ee_coupler" parent="${parent}" child="${prefix}${name}_base_link" type="fixed"/>

    <!-- Add the stereo stl -->
    <xacro:link_xacro name="${prefix}${name}_base_link" filename="package://archie_jnr_description/meshes/visual/UoA-56mm-lens.stl" rpy="${pi/2} -${pi} ${pi/2}" scale="0.001 0.001 0.001"/> 

    <!-- Box to protect the cables - maybe move to the stl -->
    <xacro:joint_xacro name="${prefix}cables_coupler" parent="${prefix}${name}_base_link" child="${prefix}cables" type="fixed"/>      
    <link name="${prefix}cables">
      <xacro:cube xyz="-0.018 0.0 -0.06" size="0.035 0.14 0.03"/>
    </link>

    <!-- Load calibration files for the specific stereo pair to set left frame -->
    <xacro:property name="stereo_calibration_file" value="$(find archie_jnr_description)/config/${prefix}stereo_pair_handeye_calibration.yaml" />
    <xacro:property name="stereo_calibration"      value="${load_yaml(stereo_calibration_file)}"/>

    <!-- Body Frame for the stereo pair calibrated centre -->
    <link name="${prefix}${name}_left_frame" />

    <joint name="${prefix}${name}_left_joint" type="fixed">
      <origin xyz="${stereo_calibration['transformation']['x']} ${stereo_calibration['transformation']['y']} ${stereo_calibration['transformation']['z']}" rpy="${stereo_calibration['transformation']['roll']} ${stereo_calibration['transformation']['pitch']} ${stereo_calibration['transformation']['yaw']}"/>
      <parent link="${prefix}${name}_base_link" />
      <child link="${prefix}${name}_left_frame" />
    </joint>    

    <!-- Optical Frame for the stereo pair calibrate centre -->    
    <link name="${prefix}${name}_left_optical_frame" />
    <xacro:joint_xacro name="${prefix}${name}_left_optical_joint" parent="${prefix}${name}_left_frame" child="${prefix}${name}_left_optical_frame" rpy="${-M_PI/2} 0 ${-M_PI/2}" type="fixed"/>

  </xacro:macro>
</robot>
