<?xml version="1.0" ?>
<launch>
	<arg name="ns" default="a"/>

	<arg name="scanning_server"  default="scanning_server"/>
	<arg name="platform_server"  default="manipulator_server"/>
	
	<arg name="sensors"       default="[stereo_pair]"/>
	<arg name="sensor_topics" default="$(find archie_jnr_description)/config/$(arg ns)/archie_sensor_topics.yaml"/>

	<group ns="$(arg ns)">
		<!-- Start the scanning server -->
		<include file="$(find maara_canopy_mapping)/launch/scanning_server.launch">
			<arg name="scanning_server"  value="$(arg scanning_server)"/>
			<arg name="platform_server"  value="$(arg platform_server)"/>
			
			<arg name="sensors"       value="$(arg sensors)"/>
			<arg name="sensor_topics" value="$(arg sensor_topics)"/>
			
			<arg name="num_captures"  value="1"/>
		</include>

		<!-- Set Weight of the Sensor Mount -->
		<arg name="payload_arg" default="1.0 [0.0,0.0,0.0]" />
		<node pkg="rosservice" type="rosservice" name="payload" args='call --wait /ur_hardware_interface/set_payload $(arg payload_arg)' />

		<include file="$(find stereo_inference_ros)/launch/matcher_hsmnet.launch">
	    	<arg name="stereo_ns" default="stereo_pair"/>
		</include>

		<include file="$(find aruco_detector)/launch/mono_charuco_detector.launch">
			<arg name="display"     default="true"/>

			<arg name="ns"          default="stereo_pair"/>
			<arg name="tf_prefix"   default="stereo_pair"/>
			
			<arg name="image"       default="left/image_rect_color"/>
			<arg name="camera_info" default="left/rec_camera_info"/>

			<!-- corners to be consistent with checker board - squares minus one -->
			<arg name="board_width"   value="7"/><!--Number of corners-->
			<arg name="board_height"  value="10"/><!--Number of corners-->
			<arg name="square_length" value="100.0"/><!--mm-->
			<arg name="marker_length" value="78.0"/><!--mm-->

			<arg name="markers"     default="markers"/>
			<arg name="dictionary"  default="3"/>
		</include>
	</group>
</launch>