<?xml version="1.0" ?>
<launch>
	<arg name="ns"        default="a"/>

	<arg name="robot_ip"           default="192.168.131.9"/>
	<arg name="reverse_port"       default="50001"/>
	<arg name="script_sender_port" default="50002"/>

	<arg name="kinematics_config"  default="$(find archie_jnr_description)/config/$(arg ns)/ur5_calibration.yaml"/>
	<arg name="joint_limit_params" default="$(find archie_jnr_description)/config/$(arg ns)/joint_limits.yaml"/>

	<group ns="$(arg ns)">
		<!-- Launch UR hardware interface and controller -->
  		<include file="$(find archie_jnr_bringup)/launch/ur5_bringup.launch">
  			<arg name="tf_prefix" 		   value="$(arg ns)/"/>
  			<arg name="robot_ip" 		   value="$(arg robot_ip)"/>
			<arg name="reverse_port"       value="$(arg reverse_port)"/>
			<arg name="script_sender_port" value="$(arg script_sender_port)"/>
			
			<arg name="kinematics_config"      value="$(arg kinematics_config)"/>
			<arg name="controller_config_file" value="$(find archie_jnr_description)/config/$(arg ns)/ur5_controllers.yaml"/>
  		</include>

  		<!-- Launch pylon cameras -->
  		<include file="$(find pylon_camera)/launch/pylon_camera_node_calibrated.launch">
			<arg name="display"      value="false"/>
			<arg name="loop_rate"    value="1"/>
		    <arg name="camera_left"  value="left"/>
		    <arg name="camera_right" value="right"/>
		    <arg name="trigger_mode" value="1"/>
		    <arg name="calibration"  default="$(find archie_jnr_description)/config/$(arg ns)/stereo_calibration.json"/>
		</include>
  	</group>

  	<!-- Launch moveit controller for the given arm group -->
  	<!-- NOTE: this gets launch on the base namespace in order to read archies description correctly -->
  	<node name="control_node_$(arg ns)" pkg="ur_moveit_controller" type="control_node.py" output="screen">
		<param name="move_group_name" value="ur_arm_$(arg ns)"/>
	</node>
</launch>