<?xml version="1.0" ?>
<launch>
	<arg name="ns" default="a"/>
	<arg name="tf_prefix" value="$(arg ns)/"/>
	<group ns="$(arg ns)">
		<include file="$(find archie_jnr_bringup)/launch/ur5_bringup.launch">
			<arg name="tf_prefix" value="$(arg tf_prefix)"/>
			<arg name="robot_ip"  value="192.168.131.9"/>
			
			<arg name="robot_description_file" value="$(find archie_jnr_bringup)/launch/load_archie.launch"/>
			<arg name="kinematics_config"      value="$(find archie_jnr_description)/config/$(arg tf_prefix)uoa_cares_ur5_calibration.yaml"/>
			<arg name="controller_config_file" value="$(find archie_jnr_description)/config/$(arg tf_prefix)ur5_controllers.yaml"/>
 		</include>

		<include file="$(find archie_jnr_bringup)/launch/move_group.launch">
			<arg name="tf_prefix" value="$(arg tf_prefix)"/>
	        <arg name="load_robot_description" value="false" />	
	    </include>

	    <!-- Future note if both sides are single PC will need to add namespace to the physical cameras as well -->
	    <include file="$(find pylon_camera)/launch/pylon_camera_node_calibrated.launch">
			<arg name="display"      value="true"/>
		    <arg name="camera_left"  value="left"/>
		    <arg name="camera_right" value="right"/>
		    <arg name="trigger_mode" value="1"/>
		</include>

	    <node name="control_node" pkg="ur_moveit_controller" type="control_node.py" output="screen"/>
	</group>
	<!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find archie_jnr_bringup)/rviz/archie_side_a.rviz" /> -->
</launch>