<?xml version="1.0" ?>
<launch>
	<arg name="ns" default="a"/>
	<group ns="$(arg ns)">
		<arg name="sensors" default="[stereo_pair]"/>
		<arg name="sensor_topics" default="$(find archie_jnr_description)/config/$(arg ns)/archie_sensor_topics.yaml"/>

		<!-- Start the canopy mapping node -->
		<include file="$(find maara_canopy_mapping)/launch/scan.launch">
			<arg name="platform_server"  default="server"/>
			
			<arg name="sensors" value="$(arg sensors)"/>
			<arg name="sensor_topics" value="$(arg sensor_topics)"/>
			
			<arg name="num_captures" default="1"/>

			<arg name="world_link"  default="world"/>

			<arg name="init_x"  default="-0.3"/>
			<arg name="init_y"  default="0.30"/>
			<arg name="init_z"  default="0.1"/>
		</include>

		<include file="$(find traditional_stereo_ros)/launch/stereo_depth_silent.launch">
		<!-- <include file="$(find traditional_stereo_ros)/launch/stereo_depth.launch"> -->
		    <arg name="sensor"        value="stereo_pair"/>
		    <arg name="sensor_topics" value="$(arg sensor_topics)"/>

		    <arg name="scale"         value="1.0"/>
		</include>

		<include file="$(find aruco_detector)/launch/stereo_detector.launch">
			  <arg name="ns"            default="stereo_pair"/>
			  <arg name="image_left"    default="left/image_rect_color"/>
			  <arg name="image_right"   default="right/image_rect_color"/>
			  <arg name="markers"       default="markers"/>
			  <arg name="stereo_info"   default="stereo_info"/>
			  <arg name="display"       default="false"/>
			  <arg name="tf_prefix"     default="$(arg ns)/stereo_pair"/>
			  <!-- <arg name="centre"    default="11"/>
			  <arg name="top_left"  default="6"/>
			  <arg name="top_right" default="7"/>
			  <arg name="bot_right" default="16"/>
			  <arg name="bot_left"  default="15"/> -->
		</include>
	</group>
</launch>