<?xml version="1.0" ?>
<launch>
    <arg name="ns" default="a"/>
    <arg name="tf_prefix" default="$(arg ns)/"/>
    <group ns="$(arg ns)">
        <arg name="robot_base_frame"      default="$(arg tf_prefix)base_link" />
        <arg name="robot_effector_frame"  default="$(arg tf_prefix)kea/base_link" />
        <arg name="tracking_base_frame"   default="$(arg tf_prefix)kea/optical_frame"/>

        <arg name="sensor" default="kea"/>
        <arg name="sensor_topics" default="$(find archie_jnr_description)/config/$(arg ns)/archie_sensor_topics_calibration.yaml"/>

        <!-- Diamond Marker IDs -->
        <arg name="centre"    default="11"/>
        <arg name="top_left"  default="6"/>
        <arg name="top_right" default="7"/>
        <arg name="bot_right" default="16"/>
        <arg name="bot_left"  default="15"/>

        <arg name="display" default="false"/>

    	<include file="$(find cares_hand_eye_calibration)/launch/depth_auto_calibration.launch" pass_all_args="true">
    	</include>

	</group>
</launch>