<?xml version="1.0" ?>
<launch>
	<arg name="ns_a" value="a"/>
	<arg name="ns_b" value="b"/>

	<include file="$(find archie_jnr_bringup)/launch/archie_side_map.launch">
		<arg name="ns" value="$(arg ns_a)"/>
	</include>

	<!-- <machine name="side-$(arg ns_b)" user="anyone" address="stormtrooper" env-loader="~/archie-environment.sh" default="true"/> -->
	<include file="$(find archie_jnr_bringup)/launch/archie_side_map.launch">
		<arg name="ns" value="$(arg ns_b)"/>
	</include>
</launch>

<!-- <machine name="side-$(arg ns_a)" user="anyone" address="kylo-ren" env-loader="~/archie-environment.sh" default="true"/> -->
<!-- <machine name="side-$(arg ns_b)" user="anyone" address="stormtrooper" env-loader="~/archie-environment.sh" default="true"/> -->