<?xml version="1.0"?>
<launch>
  
  <!-- Mapping Task Server -->
  <arg name="mapping_server" value="mapping_server"/>

  <!-- Cutting Task Server -->
  <arg name="cutting_server"   value="cutting_server"/>

  <!-- UR Arm Control Servers -->
  <arg name="platform_server_a"  value="/ur_arm_a_server"/>
	<arg name="platform_server_b"  value="/ur_arm_b_server"/>
  <arg name="platform_servers"   value="[$(arg platform_server_a), $(arg platform_server_b)]"/>
  
  <!-- Planning Link to define poses from -->
  <arg name="planning_link_a" value="a/planning_link"/>
  <arg name="planning_link_b" value="b/planning_link"/>
  <arg name="planning_links"  value="[$(arg planning_link_a), $(arg planning_link_b)]"/>
  
  <!-- Which control frame will be used to move the arms around-->
  <arg name="robot_control_frame_a" value="a/stereo_pair/left_frame" />
  <arg name="robot_control_frame_b" value="b/stereo_pair/left_frame" />
  <arg name="robot_control_frames"  value="[$(arg robot_control_frame_a), $(arg robot_control_frame_b)]"/>

  <!-- World Link -->
  <arg name="world_link"  default="ground"/>

  <!-- How many images to capture per step -->
  <arg name="num_captures" default="1"/>

  <!-- Capture Marker for alignment -->
  <arg name="capture_marker" default="false"/>

  <!-- Init Pose -->
  <!-- Meters -->
  <arg name="init_x"  value="0.0"/>
  <arg name="init_y"  value="0.3"/>
  <arg name="init_z"  value="0.1"/>
  <!-- Degrees -->
  <arg name="init_roll"  value="180.0"/>
  <arg name="init_pitch" value="0.0"/>
  <arg name="init_yaw"   value="0.0"/>

  <!-- Path ID - path_factory -->
  <arg name="path_id"  default="0"/>
  
  <!-- <group ns="platform"> -->
  <node name="archie_controller_node" pkg="archie_jnr_control" type="archie_controller_node.py" output="screen">
    <rosparam param="platform_servers"     subst_value="True">$(arg platform_servers)</rosparam>
    <rosparam param="robot_control_frames" subst_value="True">$(arg robot_control_frames)</rosparam>
    <rosparam param="planning_links"       subst_value="True">$(arg planning_links)</rosparam>
  
    <param name="world_link"           value="$(arg world_link)"/>

  	<param name="mapping_server" value="$(arg mapping_server)"/>

    <param name="cutting_server" value="$(arg cutting_server)"/>

    <param name="num_captures"   value="$(arg num_captures)"/>
    <param name="capture_marker" value="$(arg capture_marker)"/>

    <param name="init_x" value="$(arg init_x)"/>
    <param name="init_y" value="$(arg init_y)"/>
    <param name="init_z" value="$(arg init_z)"/>

    <param name="init_roll"  value="$(arg init_roll)"/>
    <param name="init_pitch" value="$(arg init_pitch)"/>
    <param name="init_yaw"   value="$(arg init_yaw)"/>

    <param name="path_id" value="$(arg path_id)"/>
  </node>
</launch>