<?xml version="1.0"?>
<launch>

  <arg name="tf_prefix" default="a/"/>
  <arg name="kinematics_config"  default="$(find archie_jnr_description)/config/$(arg tf_prefix)ur5_calibration.yaml"/>
  <arg name="joint_limit_params" default="$(find archie_jnr_description)/config/$(arg tf_prefix)joint_limits.yaml"/>

  <!--ur5 A parameters files -->
  <!-- <arg name="tf_prefix_a" default="a/"/>
  <arg name="kinematics_config_a"  default="$(find archie_jnr_description)/config/$(arg tf_prefix_a)ur5_calibration.yaml"/>
  <arg name="joint_limit_params_a" default="$(find archie_jnr_description)/config/$(arg tf_prefix_a)joint_limits.yaml"/> -->

  <!--ur5 B parameters files -->
  <!-- <arg name="tf_prefix_b" default="b/"/>
  <arg name="kinematics_config_b"  default="$(find archie_jnr_description)/config/$(arg tf_prefix_b)ur5_calibration.yaml"/>
  <arg name="joint_limit_params_b" default="$(find archie_jnr_description)/config/$(arg tf_prefix_b)joint_limits.yaml"/> -->

  <!--ur5 common parameters -->
  <arg name="physical_params"    default="$(find ur_description)/config/ur5/physical_parameters.yaml"/>
  <arg name="visual_params"      default="$(find ur_description)/config/ur5/visual_parameters.yaml"/>
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="safety_limits"             default="false" doc="If True, enable the safety limits controller"/>
  <arg name="safety_pos_margin"         default="0.15" doc="The lower/upper limits in the safety controller" />
  <arg name="safety_k_position"         default="20" doc="Used to set k position in the safety controller" />

  <arg name="ee_sensor" default="stereo"/><!--stereo realsense zivid kea stereo-kea -->
  
  <arg name="sim"         default="false"/>
  
  <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find archie_jnr_description)/urdf/archie_robot.xacro'
      prefix_a:=$(arg tf_prefix)
      kinematics_params_a:=$(arg kinematics_config)
      joint_limit_params_a:=$(arg joint_limit_params)
      
      prefix_b:=$(arg tf_prefix)
      kinematics_params_b:=$(arg kinematics_config)
      joint_limit_params_b:=$(arg joint_limit_params)

      physical_params:=$(arg physical_params)
      visual_params:=$(arg visual_params)
      transmission_hw_interface:=$(arg transmission_hw_interface)
      safety_limits:=$(arg safety_limits)
      safety_pos_margin:=$(arg safety_pos_margin)
      safety_k_position:=$(arg safety_k_position)
      ee_sensor:=$(arg ee_sensor)"
    /> -->

  <param name="robot_description" command="$(find xacro)/xacro '$(find archie_jnr_description)/urdf/archie_robot2.xacro'
      prefix_a:=$(arg tf_prefix)
      kinematics_params_a:=$(arg kinematics_config)
      joint_limit_params_a:=$(arg joint_limit_params)
      
      prefix_b:=$(arg tf_prefix)
      kinematics_params_b:=$(arg kinematics_config)
      joint_limit_params_b:=$(arg joint_limit_params)

      physical_params:=$(arg physical_params)
      visual_params:=$(arg visual_params)
      transmission_hw_interface:=$(arg transmission_hw_interface)
      safety_limits:=$(arg safety_limits)
      safety_pos_margin:=$(arg safety_pos_margin)
      safety_k_position:=$(arg safety_k_position)
      ee_sensor:=$(arg ee_sensor)
      sim:=$(arg sim)"
    />

</launch>