<?xml version="1.0" ?>
<launch>
	<arg name="ns" default="a"/>

	<arg name="robot_ip"           default="192.168.131.9"/>
	<arg name="reverse_port"       default="50001"/>
	<arg name="script_sender_port" default="50002"/>

	<arg name="kinematics_config"      default="$(find archie_jnr_description)/config/$(arg ns)/ur5_calibration.yaml"/>
	<arg name="joint_limit_params"     default="$(find archie_jnr_description)/config/$(arg ns)/joint_limits.yaml"/>
  	<arg name="controller_config_file" default="$(find archie_jnr_description)/config/$(arg ns)/ur5_controllers.yaml"/>

  	<!-- Launch UR5 hardware interface and controller -->
	<group ns="$(arg ns)">	

		<include file="$(find archie_jnr_bringup)/launch/load_archie.launch" pass_all_args="true">
			<arg name="ee_sensor_a" value="stereo"/><!--stereo realsense zivid kea stereo-kea -->
	  		<arg name="ee_sensor_b" value="stereo"/><!--stereo realsense zivid kea stereo-kea -->
	  	</include>
	  	
	  	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	  	</node>
	  	
	  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
	
		<include file="$(find archie_jnr_moveit_config)/launch/move_group.launch">
			<arg name="debug" value="false" />
			<arg name="load_robot_description" value="false" />
			<arg name="publish_monitored_planning_scene" value="true" />
		</include>
	
		<include file="$(find ur_robot_driver)/launch/ur_control.launch">
			<arg name="tf_prefix"              value="$(arg ns)/"/>
			<arg name="robot_ip"               value="$(arg robot_ip)"/>
			<arg name="reverse_port"           value="$(arg reverse_port)"/>
			<arg name="script_sender_port"     value="$(arg script_sender_port)"/>
			<arg name="kinematics_config"      value="$(arg kinematics_config)"/>
			<arg name="controller_config_file" value="$(arg controller_config_file)"/>

			<arg name="debug"                  value="false"/>
			<arg name="use_tool_communication" value="false"/>
			<arg name="controllers"            value="joint_state_controller scaled_pos_joint_traj_controller speed_scaling_state_controller force_torque_sensor_controller"/>
			<arg name="stopped_controllers"    value="pos_joint_traj_controller joint_group_vel_controller"/>
			<arg name="headless_mode"          value="false"/>
		</include>
		
	  	<node name="control_node_$(arg ns)" pkg="ur_moveit_controller" type="control_node.py" output="screen">
		<param name="move_group_name" value="ur_arm_$(arg ns)"/>
		</node>
  	</group>

  	<!-- Launch pylon cameras -->
	<include file="$(find archie_jnr_bringup)/launch/archie_pylon.launch">
		<arg name="ns" value="$(arg ns)"/>
	</include>
</launch>
